.m_navBar {
    margin-bottom: 200px;
}

.m_body {
    background-color: white;
}

.m_boldText {
    font-weight: bold;
}

.m_contentContainer {
    background-color: rgb(237, 237, 237);
    margin-bottom: 25px;
}

.m_heading {
    text-align: center;
    padding-top: 10px;
}

.m_projectTitle {
    text-align: center;
    color: black;
}

.m_projectImage
{
    max-width: 80%;
    padding-bottom: 15px;

    /* Center image */
    display:block;
    margin-left: auto;
    margin-right: auto;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.m_projectImage:hover {
    opacity:0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.m_projectText
{
    max-width: 80%;
    margin-left: 10%;
}

hr {   
    color: gray;
}