.m_pageTitle
{
    padding-top: 50px;
}

.m_underline
{
    text-decoration: underline;
}

.m_centeredVideo
{
    max-width: 100%;

    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    display: block;
    margin: 0 auto;
}