header
{
    margin:auto;
    max-width: 500px;
    padding-bottom: 50px;;
}

.m_pageTitle
{
    font-weight: 500px;
    font-size: 50px;
}

.m_navbarUL
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.m_navbarLI
{
    display: inline;
    padding: 5px;
    font-weight: 500;
}

.m_navbarActive
{
    color: black;
}

.m_sectionTitle
{
    font-weight: 500;
    font-size: large;
    text-decoration: underline;
}

.m_projectTitle
{
    font-weight: 500;
    font-size: large;
}

.m_listHeader
{
    font-weight: 500;
}

.m_projectRow
{
    padding-bottom: 50px;
}

/* cv */

.m_cvSectionHeading
{
    font-weight: 500;
    font-size: large;
    text-decoration: underline;
}

.m_cvHeading
{
    font-weight: 500;
    font-size: medium;
}


/* contact */

.m_contactEntry
{
    display: inline;
}

.m_contactIcon
{
    max-width: 52px;
    max-height: 52px;
    padding-right: 15px;
}


/* BIG SCREEN WIDTH */
@media (min-width:992px)
{
    .m_projectImage
    {
        max-width: 100%;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);
    }
}

/* SMALL SCREEN WIDTH */
@media (max-width: 991px)
{
    .m_projectImage
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
        max-width: 75%;      
        -webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);
    }
}