
/* small screen*/ 
@media only screen and (max-width: 988px) {

    .m_projectImage
    {
        max-width: 100%;
        padding-bottom: 15px;

        /* Center image */
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .m_projectText
    {
        max-width: 100%;
        padding-bottom: 15px;

        /* Center text, same as image */
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .m_tutorialImageLarge
    {
        max-width: 100%;
        margin-bottom: 20px;

        /* Box shadow */
        box-shadow: 10px 10px 5px grey;

        /* Center image */
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* big screen */
@media only screen and (min-width: 988px) {

    .m_projectImage
    {
        max-width: 100%;
        padding-bottom: 15px;

        /* Center image */
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .m_projectText
    {
        max-width: 450px;
        padding-bottom: 15px;

        /* Center text, same as image */
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .m_tutorialImageLarge
    {
        max-width: 750px;
        margin-bottom: 20px;

        /* Box shadow */
        box-shadow: 10px 10px 5px grey;

        /* Center image */
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}

.m_heading 
{
    text-decoration: underline; 
    padding-top: 15px;
    padding-bottom: 15px;
}

.m_underlined
{
    text-decoration: underline;
}

.m_projectHeading
{
    padding-left: 15px;
    padding-bottom: 12px;
}

.m_bold 
{
    font-weight: bold;
}

.m_icon
{
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.m_contactInfo
{
    padding-bottom: 5px;
}

.m_centeredVideo
{
    max-width: 100%;

    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    display: block;
    margin: 0 auto;
}

.m_tutorialImageSmall
{
    max-width: 400px;
    margin-bottom: 25px;

    
    /* Box shadow */
    box-shadow: 10px 10px 5px grey;

    /* Center image */
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.m_code
{
    color: rgb(65, 65, 65);
}